@font-face {
    font-family: "Visby";
    src: url(Fonts/VisbyCF-Bold.otf) format("opentype"),
         url(Fonts/VisbyCF-BoldOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-DemiBold.otf) format("opentype"),
         url(Fonts/VisbyCF-DemiBoldOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-ExtraBold.otf) format("opentype"),
         url(Fonts/VisbyCF-ExtraBoldOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-Heavy.otf) format("opentype"),
         url(Fonts/VisbyCF-HeavyOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-Light.otf) format("opentype"),
         url(Fonts/VisbyCF-LightOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-Medium.otf) format("opentype"),
         url(Fonts/VisbyCF-MediumOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-Regular.otf) format("opentype"),
         url(Fonts/VisbyCF-RegularOblique.otf) format("opentype"),
         url(Fonts/VisbyCF-Thin.otf) format("opentype"),
         url(Fonts/VisbyCF-ThinOblique.otf) format("opentype"),;
         font-style: normal;
         font-weight: normal;
}

header {
        display: flex;
        justify-content: space-between;
        background-color: #232323;
        border-bottom: 10px solid #000;
        padding: 10px 20px;
}

img {
    margin-left: 0px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-family: 'Visby', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    text-decoration: none;
    margin-right: 56px;

}

a::before {
    content: " ";
    background-color: #c10016;
    width: 10px;
    height: 10px;
    margin-right: 10px;  
}


#button {
    display: inline-block;
    background-color: #c10016;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    transition: transform 200ms linear;
}

#button:hover {
    transform: scale(1.08);
}